<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title><%= title %></title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=3.2.0">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=3.2.0">
    <script>
        let konular = []

        function yeniButonOlustur() {
            const yeniDersKonuDiv = document.createElement("div");
            yeniDersKonuDiv.className = "d-flex gx-3 mb-3";

            const inputDiv = document.createElement("div");
            inputDiv.className = "g w-100";
            const inputElement = document.createElement("input");
            inputElement.type = "text";
            inputElement.className = "form-control";
            inputElement.name = "konular";
            inputElement.id = "inputElement_" + Math.floor(Math.random() * 1000);

            // Yeni butonu oluşturun ve id'yi rastgele yapın
            const buttonDiv = document.createElement("div");
            const buttonElement = document.createElement("button");
            buttonElement.type = "button";
            buttonElement.className = "btn btn-icon btn-outline-light";
            buttonElement.id = "konuEklemeButonu_" + Math.floor(Math.random() * 1000); // Rastgele id
            const iconElement = document.createElement("em");
            iconElement.className = "icon ni ni-plus";

            // Oluşturulan elementleri birbirine bağlayın
            buttonElement.appendChild(iconElement);
            buttonDiv.appendChild(buttonElement);
            inputDiv.appendChild(inputElement);
            yeniDersKonuDiv.appendChild(inputDiv);
            yeniDersKonuDiv.appendChild(buttonDiv);

            konularListesi.appendChild(yeniDersKonuDiv);

            // Yeni butona click eventi ekleyin
            buttonElement.addEventListener("click", function () {

                yeniButonOlustur()

            });

        }


        document.addEventListener("DOMContentLoaded", function () {

            //Butonu Aldık
            var konuEklemeButonu = document.getElementById("konuEklemeButonu");
            const konuInput = document.getElementById("konu")
            const konularListesi = document.getElementById("konularListesi")

            yeniButonOlustur()

            //Buton üzerine click eventi atatık

        });
    </script>
</head>

<body class="nk-body bg-lighter npc-general has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->

            <% include partial/sol-bar.ejs %>

            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <% include partial/ust-bar.ejs %>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head nk-block-head-sm">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Ders Listesi</h3>
                                            <div class="nk-block-des text-soft">
                                                <p>Ders Listesi Ve Konuları</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <div class="toggle-wrap nk-block-tools-toggle">
                                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                    data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                                <div class="toggle-expand-content" data-content="pageMenu">
                                                    <ul class="nk-block-tools g-3">
                                                        <li>
                                                            <div class="drodown">
                                                                <a href="#"
                                                                    class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                                                    data-bs-toggle="dropdown"><em
                                                                        class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered
                                                                        By</span><em
                                                                        class="dd-indc icon ni ni-chevron-right"></em></a>
                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                    <ul class="link-list-opt no-bdr">
                                                                        <li><a href="#"><span>Web Development</span></a>
                                                                        </li>
                                                                        <li><a href="#"><span>Mobile
                                                                                    Application</span></a></li>
                                                                        <li><a href="#"><span>Graphics Design</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="nk-block-tools-opt d-none d-sm-block">
                                                            <a class="btn btn-primary" data-bs-toggle="modal"
                                                                href="#modalCreate"><em
                                                                    class="icon ni ni-plus"></em><span>Ders
                                                                    Ekle</span></a>
                                                        </li>
                                                        <li class="nk-block-tools-opt d-block d-sm-none">
                                                            <a class="btn btn-icon btn-primary" data-bs-toggle="modal"
                                                                href="#modalCreate"><em
                                                                    class="icon ni ni-plus"></em></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- .toggle-wrap -->
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->

                                <% include partial/alerts.ejs %>
                                <div class="nk-block">
                                    <div class="row g-gs">

                                        <% dersler.forEach(function(ders){ %>

                                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                                            <div class="card h-100">
                                                <div class="card-inner">
                                                    <div class="d-flex justify-content-between align-items-start mb-3">
                                                        <a href="html/lms/courses.html"
                                                            class="d-flex align-items-center">
                                                            <div class="user-avatar sq bg-purple"><span>GD</span></div>
                                                            <div class="ms-3">
                                                                <h6 class="title mb-1"><%= ders.dersAdi %></h6>
                                                                <span class="sub-text">4 Konu</span>
                                                            </div>
                                                        </a>
                                                        <div class="dropdown">
                                                            <a href="#"
                                                                class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 me-n1"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a data-bs-toggle="modal" href="#modalEdit"
                                                                            id="dersiDuzenle"><em
                                                                                class="icon ni ni-edit"></em><span>Dersi
                                                                                Düzenle</span></a></li>
                                                                    <li><a data-bs-toggle="modal"
                                                                            href="#modalDelete"><em
                                                                                class="icon ni ni-delete"></em><span>Dersi
                                                                                Sil</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p><%= ders.dersAciklamasi %></p>
                                                    <ul class="d-flex flex-wrap g-1">
                                                        <% ders.dersiAlabilenSiniflar.forEach(function(alabilenler){ %>
                                                        <li><span class="badge badge-dim bg-primary">
                                                                <%= alabilenler %></span></li>
                                                        <% }); %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                        <% }); %>

                                    </div>
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->

                <% include partial/footer.ejs %>


                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->

    <!-- @@ Category Modal @e -->
    <form action="/admin/ders-ekle" method="POST">
        <div class="modal fade" id="modalCreate">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"> <em
                            class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title">Ders Ekle</h5>
                        <form action="#" class="pt-2">
                            <div class="form-group">
                                <label class="form-label" for="full-name">Ders Adı</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="full-name" name="dersAdi">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="description">Ders Açıklaması</label>
                                <div class="form-control-wrap">
                                    <textarea class="form-control" name="dersAciklamasi" id="description"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Dersi Alabilecek Sınıflar</label>
                                <div class="form-control-wrap">
                                    <select class="form-select js-select2" multiple="multiple"
                                        data-placeholder="Dersleri Seçiniz" name="dersiAlabilenSiniflar">
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="Mezun">Mezun</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="konularListesi">
                                <label class="form-label">Ders Konuları</label>
                                <!-- <div class="d-flex gx-3 mb-3">
                                    <div class="g w-100">
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" name="konular" id="konu">
                                        </div>
                                    </div>
                                    <div class="g">
                                        <button type="button" class="btn btn-icon btn-outline-light"
                                            id="konuEklemeButonu">
                                            <em class="icon ni ni-plus"></em></button>
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <button data-bs-dismiss="modal" type="submit" class="btn btn-primary">Dersi
                                    Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- .Edit Modal-Content -->
    <div class="modal fade" id="modalEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"> <em
                        class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="title">Dersi Düzenle</h5>
                    <form action="#" class="pt-2">
                        <div class="form-group">
                            <label class="form-label" for="edit-full-name">Dersi Düzenle</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="edit-full-name" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="edit-description">Ders Açıklaması</label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" name="description" id="edit-description"
                                    value=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="category-thumb">Category thumbnail</label>
                            <div class="form-control-wrap">
                                <div class="form-file">
                                    <input type="file" multiple class="form-file-input" id="edit-customFile">
                                    <label class="form-file-label" for="category-thumb">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Subcategory</label>
                            <div class="d-flex gx-3 mb-3">
                                <div class="g w-100">
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" value="Figma">
                                    </div>
                                </div>
                                <div class="g">
                                    <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex gx-3 mb-3">
                                <div class="g w-100">
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" value="Responsive Design">
                                    </div>
                                </div>
                                <div class="g">
                                    <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex gx-3 mb-3">
                                <div class="g w-100">
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" value="Adobe Photoshop">
                                    </div>
                                </div>
                                <div class="g">
                                    <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex gx-3 mb-3">
                                <div class="g w-100">
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" placeholder="e.g. Web Development">
                                    </div>
                                </div>
                                <div class="g">
                                    <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-plus"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button data-bs-dismiss="modal" type="submit" class="btn btn-primary">Save
                                Informations</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- .Edit Modal-Content -->
    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content"> <a href="#" class="close" data-bs-dismiss="modal"><em
                        class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-lg text-center">
                    <div class="nk-modal py-4"> <em
                            class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                        <h4 class="nk-modal-title">Are You Sure ?</h4>
                        <div class="nk-modal-text mt-n2">
                            <p class="text-soft">This event data will be removed permanently.</p>
                        </div>
                        <ul class="d-flex justify-content-center gx-4 mt-4">
                            <li>
                                <button data-bs-dismiss="modal" id="deleteEvent" class="btn btn-success">Yes, Delete
                                    it</button>
                            </li>
                            <li>
                                <button data-bs-dismiss="modal" class="btn btn-danger btn-dim">Cancel</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .Delete Modal-content -->
    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=3.2.0"></script>
    <script src="./assets/js/scripts.js?ver=3.2.0"></script>
</body>

</html>