<% if (flashSuccess != "") { %>
    <div class="example-alert">
        <div class="alert alert-fill alert-success alert-icon">
            <em class="icon ni ni-check-circle"></em> <%= flashSuccess %>
        </div>
    </div>
  
<% } %>

<% if (flashError != "") { %>

    <div class="example-alert">
        <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
            <em class="icon ni ni-cross-circle"></em>  <%= flashError %> <button class="close" data-bs-dismiss="alert"></button>
        </div>
    </div>
  
<% } %>